{
	root: true,
	extends: 'leanbyte',
	rules: {
		'no-extend-native': 0
	},
    overrides: [
        {
            files: ['*.ts'],
            parser: '@typescript-eslint/parser',
            extends: [
                'plugin:@typescript-eslint/recommended',
            ],
            rules: {
            }
        },
    ]
}
